div {
    background-color: rgb(40, 60, 99);
    color: rgb(40, 60, 99);
}

table {
    background-color: aliceblue;
    color: rgb(40, 60, 99);
}

.inputs::placeholder {
    color: #fefeff;
    font-size: 10px;
    padding: 8px;
}

button {
    background-color: rgb(40, 60, 99);
    color: aliceblue;
}

.mensagem {
    vertical-align: top;
}