header {
    width: 100%;
    height: 170px;
    background-color: #333;
}

table {
    width: 70%;
    margin-left: 20%;
    color: #8f8787;
}

.linha2 {
    background-color: black;
    text-align: center;
}

.linha2 a {
    color: #8f8787;
}

.linha2 td {
    padding: 10px 20px;
}

table.tabela2 .tb2col1 {
    background-color: #333;
}

table.tabela2 .tb2col2 {
    background-color: #000;
    margin-right: 20%;

}

table.tabela2 h6 {
    color: orange;
    text-align: right;
    margin-right: 5px;
}

#Laranja {
    color: orange;
}

#FundoL {
    background-color: orange;
}

#Corbr {
    color: white;
}

#al {
    color: orange;
}

footer {
    width: 100%;
    height: 100px;
    background-color: #333;
    color: #8f8787;
}

/* #rodape1{
    margin-left: 20%;
}

#rodape2{
    margin-right: 20%;
} */

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}